#chat {

  max-width: 400px;

  background: #f5f5f5;

  padding: 10px;

  border-radius: 10px;

}

#messages {

  list-style: none;

  padding: 0;

  max-height: 200px;

  overflow-y: auto;

}

#messages li {

  background: white;

  margin: 5px 0;

  padding: 6px;

  border-radius: 6px;

}.kids .adult-only {

  display: none;

}button {

  padding: 10px 15px;

  margin: 5px;

  font-size: 16px;

  cursor: pointer;

}

#songs button {

  display: block;

  width: 100%;

  margin: 6px 0;

}.hero {

  height: 300px;

  background-image: url("ضع_رابط_الصورة_هنا");

  background-size: cover;

  background-position: center;

  border-radius: 20px;

  margin: 10px;

}